<h1>đổi ảnh đại diện</h1>


<br><br><br>
<form action="/employee/avt/update", method="post">
    <label for="image">upload ảnh</label> <br>  
    <input type="file" id="image" name="image" value="" required />

    <br><br>
    <button type="submit">upload</button>
</form>