<h1>đổi mật khẩu</h1>


<br> <br>

<form>
    <label for="username">pass cũ</label><br>
    <input  type="password" id="oldPass" name="oldPass" required><br>

    <label for="password">pass mới</label><br>
    <input type="password" id="newPass" name="newPass" required> <br>

    <label for="password">lại pass mới </label><br>
    <input type="password" id="reNewPass" name="reNewPass" required>

</form>