<h1>employee page</h1><br>

<div>
    <h2>xin chào <p id="name"></p></h2>
</div>

<br>

<button class="" id="signoutBtn">đăng cmn xuất</button> <br>

<button>đổi mật khẩu</button> <br>


<br><br><br>


<h2>danh sách hàng hóa:</h2>



<script>
    if (localStorage.getItem("role") !== "employee" || !localStorage.getItem("username")) {
        window.location.href = '/login';
    }
    document.querySelector('#name').innerHTML =  localStorage.getItem("user");
</script>
