<h1>employee page</h1><br>

<div>
    <h2>xin chào <p id="name"></p></h2>
</div> <br>

tìm kiếm sản phẩm <br>
<form id="findPrd">
    <input type="text", placeholder="tìm sản phẩm"> 
    <button type="submit">tim</button>
</form><br>     

or <br> <br>

<button>quét barcode</button> <br> <br>

<h2>đơn hàng hiện tại</h2> <br> <br>












<h2>tới trang <button onclick="toCheckout()">checkout</button> </h2>


<script>

    function toCheckout() {


        window.location.href = "/employee/checkout";
    }
</script>