<h1>employee page</h1><br>

<div>
    <h2>xin chào <p id="name"></p></h2>
</div> <br>

<button id="changeAvt">đổi avatar</button> 
<img src="/upload/empty.png" alt="">

<br><br><br>

<button class="" id="signoutBtn">đăng cmn xuất</button> <br> <br> 

<p id="changePassMess"></p>
<button id="changePass">đổi mật khẩu</button> <br>


<br><br><br>

<div id="feature">
    <a href="/employee/customers">khách hàng</a> <br> 

    <a href="/employee/stat">thống kê</a> <br> <br>


    <h2>danh sách hàng hóa:</h2>



</div>





<script src="/js/employeePage.js"></script>
