<h1>employee page</h1><br>

<div>
    <h2>xin chào <p id="name"></p></h2>
</div> <br>

<h2>đơn hàng hiện tại</h2> <br> <br>


<form class="customerInfo">
    <label for="phone">nhập số điện thoại khách</label><br>
    <input type="text" id="phone" name="phone" required>

    <br><br>
    <button type="submit">tìm</button>
</form>

