<h1>xin chào</h1>

<a href="login">login nè</a> <br>


<br>
<h2>đây là app POS xịn của toi!!</h2>

<br>

mô tả webapp các kiểu ~
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis neque, dignissimos magni nostrum temporibus sequi similique nemo tempora. Impedit dolorem numquam illo, dolorum corporis enim similique magni alias culpa.</p>

<br>


<b>danh sách sản phẩm:</b> <br>

