<link rel="stylesheet" href="./styles/form.css">
<section id='homepage-body' class='bg-normal'>
  <div class='container'>
    <div class='row py-5 d-flex flex-md-row flex-column-reverse align-items-center justify-content-center'>
        <div class="col-10 col-lg-6" id="illustration">
            <object data="./imgs/svgs/payments-bro.svg" type="image/svg+xml" class="svgimage"></object>
        </div>
      <div class='col-10 col-lg-6' id="login-box">
        <h2 class="pri-color text-center">
            Login
        </h2>
        <form class='loginForm' action="/login" method="post">
          <div class="form-group">
            <label for='username' class="text-pri-color">
                Username
            </label><br />
            <input class='form-control' type='text' id='username' name='username' required placeholder="Enter your username" />
          </div>

          <div class="form-group">
            <label for='password' class="text-pri-color">
                Password
            </label><br />
            <input type='password' class="form-control" id='password' name='password' required placeholder="Enter your password" />
          </div>
          <button type='submit' class="btn mt-1 btn-pri-f">Login</button>
          <br />
        </form>
        {{#if sflash}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong class="message">{{sflash}}</strong> Please try again.
          <span ></span>
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{/if}}
      </div>
    </div>
  </div>

</section>
{{#if sflash}}
    <span id="errorMessageHid" class="d-none">
      {{sflash}}
    </span>
    <script>
      $(window).on('load', function () {
        dialogAlert("Login failed", $("#errorMessageHid").text());
      });
    </script>
{{/if}}
{{!-- <script src='/js/loginPage.js'></script> --}}
<script>
  // when website is loaded $(window).on('load', function () { setColorSVG('#footer', "#footer
  $(window).on('load', function () {
    setColorSVG('.pri-color', '#illustration object');
    $(".close").click(()=>{
      $(".alert").fadeOut();
    })
  });
</script>
