<h1>users login page</h1>

<br>
<form class="loginForm">
    <label for="username">username</label><br>
    <input  type="text" id="username" name="username" required><br>

    <label for="password">mật khẩu</label><br>
    <input type="password" id="password" name="password" required>

    <br><br>
    <button type="submit">Login</button>
</form>

<p class="message"></p>



<script src="/js/loginPage.js"></script>