<h1>admin page</h1><br>

<h2>sửa thông tin sản phẩm</h2> <br>

<form id="updatePrd">
        <label for="pname">tên sản phẩm</label><br>
        <input type="text" id="pname" name="pname" required><br>

        <label for="importPrice">giá nhập</label><br>
        <input type="text" id="importPrice" name="importPrice" required><br>

        <label for="retailPrice">giá bán</label><br>
        <input type="text" id="retailPrice" name="retailPrice" required><br>

        <label for="category">loại hàng</label><br>
        <input type="text" id="category" name="category" required><br>
        

        <label for="imagePrd">upload ảnh</label> <br>  
        <input type="file" id="imagePrd" name="imagePrd" value=""> <br><br>



        <br>
        <button type="submit">lưu</button>


</form>



<script>
    document.getElementById('pname').value = localStorage.getItem('name');
    document.getElementById('importPrice').value = localStorage.getItem('imp');
    document.getElementById('retailPrice').value = localStorage.getItem('ret');
    document.getElementById('category').value = localStorage.getItem('cat');

    localStorage.removeItem('name');
    localStorage.removeItem('imp');
    localStorage.removeItem('ret');
    localStorage.removeItem('cat');
    // code rất ngu, người đọc thông cảm

   


    document.querySelector("#updatePrd").addEventListener('submit', async e => {
        e.preventDefault();

        const pname = document.querySelector("#pname").value;
        const importPrice = document.querySelector("#importPrice").value;
        const retailPrice = document.querySelector("#retailPrice").value;
        const category = document.querySelector("#category").value;
        const _id = localStorage.getItem('_id');

        localStorage.removeItem('_id');

        const response = await fetch("/admin/products/update", {
            method: "post",
            headers: { "Content-Type": "application/json" },
            body : JSON.stringify({_id, pname, importPrice, retailPrice, category}),
        });

        const data = await response.json();
        if (data.status) {
            window.location.href = "/admin/products";
        }
    })

    
</script>