<h1>register page for admin</h1>
chỉ admin mới đc register trực tiếp

<br><br><br>
<form action="/register" method="post">

    <label for="fullname">full name</label><br>
    <input type="fullname" id="fullname" name="fullname"><br>

    <label for="email">email</label><br>
    <input type="email" id="email" name="email"><br>

    <label for="password">mật khẩu</label><br>
    <input type="password" id="password" name="password"><br>

    <label>nhập lại mật khẩu</label><br>
    <input type="password">

    <br><br>
    <button>Đăng kí</button>
</form>

<br>